fastapi
uvicorn
pydantic
opencv-python==4.12.0.88
numpy==2.2.0
mtcnn==1.0.0
keras==3.5.0
keras-facenet==0.3.2
faiss-cpu==1.8.0
mysql-connector-python==8.3.0
Pillow==11.1.0
mysql-connector-python
pandas==2.2.2
openpyxl==3.1.2
tensorflow==2.19.0
scipy==1.13.1